@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}
body {
  font-family: "Inter", sans-serif;
  background-color: rgb(223, 227, 231);
}

.container {
  margin: 0 1rem;
}
.header-text {
  margin-top: 2rem;
  text-align: center;
}
.search-input {
  margin: 1rem auto;
  display: block;
  width: min(40ch, 100%);
  padding: 0.75rem 1rem;
  font-size: 1rem;
  border: 1px solid rgb(198, 204, 209);
  border-radius: 9999px;
  outline: none;
  box-shadow: 0px 4px 8px rgba(191, 199, 206, 0.7);
}
.search-input:focus {
  border-color: rgb(122, 160, 192);
}

.table-container {
  overflow-x: auto;
  border-radius: 1rem;
  box-shadow: 0px 8px 20px rgba(191, 199, 206, 0.7);
}
table {
  width: 100%;
  min-width: 800px;
  border-collapse: collapse;
  font-size: 1rem;
  background-color: white;
}
th,
td {
  padding: 0.75rem 1.25rem;
  border: 1px solid rgb(223, 227, 231);
}

tbody tr:nth-child(even) {
  background-color: rgb(234, 237, 239);
}

.item-not-found {
  display: none;
  width: 100%;
  text-align: center;
  background-color: white;
  padding: 2rem 0;
  font-size: 1.5rem;
  font-weight: bold;
}
.highlight-text {
  padding: 0.25rem 0.5rem;
  border-radius: 8px;
}
.highlight-text.unavailable {
  background-color: rgb(255, 191, 191);
  color: rgb(182, 0, 0);
}
